@font-face {
  font-family: mainFont;
  src: url("./fonts/SourceSansPro-Light.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: mainFont;
}

html,
body {
  height: 100%;
  background-color: rgb(29, 28, 37);
}
